i{
    font-weight: 1000px;
    color: #cc0043;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #cc0043;
    color: white;
    text-align: center;
 }