<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="https://chefcompany.co/sites/all/themes/chef/logo.svg" alt="">
</nav>
<button routerLink="" style="float: right;" class="btn btn-danger">Cerrar Sesión</button>
<br><br>
<div class="container-fluid" style=" margin: auto;
width: 50%;
padding: 10px;"> 
    <div class="row" style="">
        <div class="col-4">
         <div routerLink="/clientes" class="card" style="width: 150px;height: 150px;text-align: center;cursor: pointer;">
            <a style="font-size: 100px;"><i class="fas fa-users"></i></a>
            <h3>Clientes</h3>
         </div>
        </div>
        <div class="col-4">
            <div routerLink="/facturas" class="card" style="width: 150px;height: 150px;text-align: center;cursor: pointer;">
               <a style="font-size: 100px;"><i class="fas fa-file-invoice-dollar"></i></a>
               <h3>Facturas</h3>
            </div>
           </div>
           <div class="col-4">
            <div routerLink="/pagos" class="card" style="width: 150px;height: 150px;text-align: center;cursor: pointer;">
               <a style="font-size: 100px;"><i class="fas fa-money-bill"></i></a>
               <h3>Pagos</h3>
            </div>
           </div>
      </div>
      <br>
      <br>
      <div class="row" style="">
        <div class="col-sm">
            <div routerLink="/historial" class="card" style="width: 150px;height: 150px;text-align: center;cursor: pointer;">
               <a style="font-size: 100px;"><i class="fas fa-book"></i></a>
               <h3>Historial</h3>
            </div>
           </div>
           <div class="col-sm">
            <div routerLink="/cartera" class="card" style="width: 150px;height: 150px;text-align: center;cursor: pointer;">
               <a style="font-size: 100px;"><i class="fas fa-balance-scale"></i></a>
               <h3>Cartera</h3>
            </div>
           </div>
           <div class="col-sm">
            <div routerLink="/reportes" class="card" style="width: 150px;height: 150px;text-align: center;cursor: pointer;">
               <a style="font-size: 100px;"><i class="fas fa-search-dollar"></i></a>
               <h3>Reportes</h3>
            </div>
           </div>
      </div>
</div>
<footer>
    @chef
</footer>