<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="https://chefcompany.co/sites/all/themes/chef/logo.svg" alt="">
</nav>
<div class="container">
  <button routerLink="/home" class="btn btn-danger" style="float: left !important;margin-left: 10px;"><i class="fas fa-arrow-left"></i></button>
  <br>
  <br>
    <h3>Historial Consumo KW</h3>
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <label for="">Buscar Factura</label>
                <input class="form-control" [(ngModel)]="factura" type="text" name="id_cliente" id="id_cliente">
              </div>
              <div class="col-sm">
                <br>
                <button (click)="consultarFactura()" style="margin-top: 5px;" class="btn btn-danger">Buscar</button>
              </div>              
            </div>
          </div>
          <br>
          <br>
          <div class="container">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Id Factura</th>                  
                  <th scope="col">Valor</th>
                  <th scope="col">Periodo</th>
                  <th scope="col">Consumo</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let factura of facturas">
                  <th scope="row">{{factura.id_factura}}</th>                  
                  <td>{{factura.valor}}</td>
                  <td>{{factura.periodo}}</td>
                  <td>{{factura.consumo}}</td>
                  <td>{{factura.estado}}</td>
                </tr>
              </tbody>
            </table>
          </div>
</div>
