<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="https://chefcompany.co/sites/all/themes/chef/logo.svg" alt="">
</nav>
<div class="container">
    <h3>Facturas</h3>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Crear</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Consultar</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3>Facturas</h3>
         <div class="container">
          <dynamic-form-builder (onSubmit)="onSubmit($event)" [fields]="getFields()">
          </dynamic-form-builder>
         </div>


        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <h3>Consultar Facturas</h3>
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <label for="">Buscar Factura</label>
                <input class="form-control" [(ngModel)]="factura" type="text" name="id_cliente" id="id_cliente">
              </div>
              <div class="col-sm">
                <br>
                <button (click)="consultarFactura()" style="margin-top: 5px;" class="btn btn-danger">Buscar</button>
              </div>              
            </div>
          </div>
          <br>
          <br>
          <div class="container">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Id Factura</th>
                  <th scope="col">Id Cliente</th>
                  <th scope="col">Valor</th>
                  <th scope="col">Periodo</th>
                  <th scope="col">Consumo</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let factura of facturas">
                  <th scope="row">{{factura.id_factura}}</th>
                  <td>{{factura.id_cliente}}</td>
                  <td>{{factura.valor}}</td>
                  <td>{{factura.periodo}}</td>
                  <td>{{factura.consumo}}</td>
                  <td>{{factura.estado}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
</div>
